<!DOCTYPE html>

<head>
    <script>

        window.onunload = function () { };
        if (window.performance && window.performance.navigation.type === window.performance.navigation.TYPE_BACK_FORWARD) {
            location.reload();
        }
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pressbook </title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
        content="73978724420-oup5ni5f6l2qt88bntrg4qvlugve1k91.apps.googleusercontent.com">
    <!-- Bootstrap -->
    <link rel="icon" type="image/png" href="/images/nm2.png" />
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- PNotify -->
    <link href="/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
    <!-- starrr -->
    <link href="/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="/build/css/custom.min.css" rel="stylesheet">
    <!-- PNotify -->
    <link href="/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
    <!-- Roboto font (par Alexis)
      <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i&display=swap" rel="stylesheet">-->

</head>

<style>
    .x_title h2 {
        color: white;
    }

    .x_title h2 small {
        color: white;
    }

    .x_title {
        background: #2A3F54;
    }

    .lienTheme{
        font-weight: bold;
        color : #004080
    }
</style>

<body class="nav-md thin">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <%- include('include/logoNm') %>
                    <!-- menu profile quick info -->
                    <%- include('include/bloc_profil') %>

                    <div class="clearfix"></div>


                    <!-- /menu profile quick info -->


                    <%- include('include/menu_gauche') %>


                    <!-- /menu footer buttons -->

                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>


                    </nav>
                </div>
            </div>
        </div>
        <!-- /top navigation -->




        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                   
                        <h3>Saisie des Suppléments</h3>
                     
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <%- include('include/form_pressbook') %>
                        <%- include('include/tableau_pressbook') %>
                    </div>
                </div>
            </div>
            <!-- /page content -->



            <%- include('include/footer') %>

        </div>


        <!-- jQuery -->
        <script src="/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- DateJS -->
        <script src="/vendors/DateJS/build/date.js"></script>

        <!-- FastClick -->
        <script src="/vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="/vendors/nprogress/nprogress.js"></script>
        <!-- bootstrap-progressbar -->
        <script src="/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <!-- iCheck -->
        <script src="/vendors/iCheck/icheck.min.js"></script>
        <!-- bootstrap-wysiwyg -->
        <script src="/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
        <script src="/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
        <script src="/vendors/google-code-prettify/src/prettify.js"></script>
        <!-- jQuery Tags Input -->
        <script src="../vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
        <!-- Switchery -->
        <script src="/vendors/switchery/dist/switchery.min.js"></script>
        <!-- Select2 -->
        <script src="/vendors/select2/dist/js/select2.full.min.js"></script>
        <!-- Autosize -->
        <script src="/vendors/autosize/dist/autosize.min.js"></script>
        <!-- jQuery autocomplete -->
        <script src="/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
        <!-- starrr -->
        <script src="/vendors/starrr/dist/starrr.js"></script>
        <!-- PNotify -->
        <script src="/vendors/pnotify/dist/pnotify.js"></script>
        <script src="/vendors/pnotify/dist/pnotify.buttons.js"></script>
        <script src="/vendors/pnotify/dist/pnotify.nonblock.js"></script>

        <!-- Custom Theme Scripts -->
        <script src="/build/js/custom.min.js"></script>
        <!-- Starrr util -->
        <script src="/js/util_saisie.js"></script>

        <script src="/vendors/pnotify/dist/pnotify.js"></script>
        <script src="/vendors/pnotify/dist/pnotify.buttons.js"></script>
        <script src="/vendors/pnotify/dist/pnotify.nonblock.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

        <script src="/controllers/vuePressbookSaisieController.js"></script>



        <style type="text/css">
            .table-bordered>tbody>tr>td {
                vertical-align: middle;
                text-align: center
            }

            .table-bordered>tbody>tr>.rapport {
                text-align: left;
            }

            .form-horizontal .control-label {
                text-align: left;
            }
        </style>

</body>

</html>