<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
	<META NAME="CREATED" CONTENT="0;0">
	<META NAME="CHANGED" CONTENT="0;0">
	<STYLE TYPE="text/css">
	<!--
		@page { margin-left: 1in; margin-right: 1in; margin-top: 0.2in; margin-bottom: 0.57in; }
		P { margin-bottom: 0.08in; font-size: xx-small;}
	

	-->
	</STYLE>
</HEAD>
<BODY LANG="fr-FR" DIR="LTR">
<P STYLE="margin-bottom: 0in"><BR>
</P>


<TABLE WIDTH=80% CELLPADDING=3 CELLSPACING=0 ALIGN=CENTER>
	<COL WIDTH=401>
	<COL WIDTH=309>
	<TR>
		<TD ROWSPAN=2 COLSPAN=2 WIDTH=716  BGCOLOR="#d0e0e3" STYLE="border: 1px solid #134f5c; padding: 0.03in">
			<P ALIGN=CENTER STYLE="widows: 0; orphans: 0"><B>EXPEDITIONS
			TRANSPORT</B></P>
		</TD>
	</TR>
	<TR>
	</TR>
	<TR>
		<TD ROWSPAN=2 COLSPAN=2 WIDTH=716  BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">VISE PAR :</P>
		</TD>
	</TR>
	<TR>
	</TR>
	<TR>
		<TD WIDTH=401  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Routage</P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=routage %></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Coiffe</P>
		</TD>
		<TD WIDTH=309 VALIGN=BOTTOM BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=coiffe %></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Date d'enlèvement</P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=date_enlevement_format %></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Quantité</P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=tap %></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Quantité mise sous
			film</P>
		</TD>
		<TD WIDTH=309 VALIGN=BOTTOM BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=mise_sous_film %></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Quantité
			transporteur</P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=tap %></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Quantité margeur</P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">1 - Nom transporteur</P>
		</TD>
		<TD WIDTH=309 VALIGN=BOTTOM BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=nom_transporteur_1 %></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Nombre d'exemplaire
			par paquet</P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=nombre_exemplaire_1 %></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Quantité par
			adresse</P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=quantite_adresse_1 %></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Nb de palettes</P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Nb de paquets</P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">2 - Nom transporteur</P>
		</TD>
		<TD WIDTH=309 VALIGN=BOTTOM BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=nom_transporteur_2 %></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Nombre d'exemplaire
			par paquet</P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=nombre_exemplaire_2 %></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Quantité par
			adresse</P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=quantite_adresse_2 %></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Nb de palettes</P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Nb de paquets</P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">3 - Nom transporteur</P>
		</TD>
		<TD WIDTH=309 VALIGN=BOTTOM BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=nom_transporteur_3 %></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Nombre d'exemplaire
			par paquet</P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=nombre_exemplaire_3 %></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Quantité par
			adresse</P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=quantite_adresse_3 %></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Nb de palettes</P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Nb de paquets</P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">4 - Nom transporteur</P>
		</TD>
		<TD WIDTH=309 VALIGN=BOTTOM BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=nom_transporteur_4 %></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Nombre d'exemplaire
			par paquet</P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=nombre_exemplaire_4 %></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Quantité par
			adresse</P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=quantite_adresse_4 %></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Nb de palettes</P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Nb de paquets</P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
</TABLE>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P ALIGN=CENTER>Laurent Pirollo : 2778 / 06.11.81.52.58</P>
<TABLE WIDTH=80% CELLPADDING=3 CELLSPACING=0 ALIGN=CENTER>
	<COL WIDTH=596>
	<COL WIDTH=112>
	<TR>
		<TD COLSPAN=2 WIDTH=714 BGCOLOR="#ffffff" STYLE="border: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Ramarques :</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=596  BGCOLOR="#ffffff" STYLE="border: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Dépose l'acceuil :</P>
		</TD>
		<TD WIDTH=112 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #134f5c; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Signature :</P>
		</TD>
	</TR>
</TABLE>
<div style="page-break-before:always"></div> 








<br><br><br>
<TABLE WIDTH=80% CELLPADDING=3 CELLSPACING=0 ALIGN=CENTER>
	<COLGROUP>
		<COL WIDTH=107>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=54>
		<COL WIDTH=54>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=54>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=54>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=54>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=54>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=54>
		<COL WIDTH=54>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=114>
	</COLGROUP>
	<TR>
		<TD COLSPAN=9 WIDTH=587  STYLE="border-top: 1px solid #a61c00; border-bottom: 1px solid #980000; border-left: 1px solid #a61c00; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">DOSSIER DE
			PRODUCTION (SUPPLEMENTS PUBLICITAIRES/DISTRINERGIE/VCF)</P>
		</TD>
		<TD WIDTH=114 VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border-top: 1px solid #a61c00; border-bottom: 1px solid #980000; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P ALIGN=RIGHT STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=10 WIDTH=707 VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border: 1px solid #980000; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD ROWSPAN=2 COLSPAN=2 WIDTH=167  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #a61c00; border-left: 1px solid #a61c00; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Nom du produit</P>
		</TD>
		<TD ROWSPAN=2 COLSPAN=6 WIDTH=354 BGCOLOR="#f4cccc" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #a61c00; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P ALIGN=CENTER STYLE="widows: 0; orphans: 0"><FONT SIZE=4><B><%=theme %></B></P>
		</TD>
		<TD ROWSPAN=2 COLSPAN=2 WIDTH=174 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #a61c00; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P ALIGN=CENTER STYLE="widows: 0; orphans: 0"><FONT SIZE=3><%=id %>(code pressbook)</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
	</TR>
	<TR>
		<TD ROWSPAN=2 COLSPAN=10 WIDTH=707  BGCOLOR="#ffffff" STYLE="border: 1px solid #980000; padding: 0.03in">
			<P ALIGN=CENTER STYLE="widows: 0; orphans: 0"><FONT SIZE=4>Informations</P>
		</TD>
	</TR>
	<TR>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=167  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #a61c00; border-left: 1px solid #a61c00; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Origine</P>
		</TD>
		<TD COLSPAN=8 WIDTH=534 BGCOLOR="#f4cccc" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #a61c00; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=origine %></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=167  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #a61c00; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Source</P>
		</TD>
		<TD COLSPAN=8 WIDTH=534 BGCOLOR="#f4cccc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=source %></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=167 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #a61c00; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Edition</P>
		</TD>
		<TD COLSPAN=8 WIDTH=534 VALIGN=BOTTOM BGCOLOR="#f4cccc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=edition %></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=167  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #a61c00; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Type de produit</P>
		</TD>
		<TD COLSPAN=8 WIDTH=534 VALIGN=BOTTOM BGCOLOR="#f4cccc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=produit %></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=167  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #a61c00; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Pagination</P>
		</TD>
		<TD COLSPAN=8 WIDTH=534 BGCOLOR="#f4cccc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=pagination %></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=167  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #a61c00; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Tirage NET</P>
		</TD>
		<TD COLSPAN=8 WIDTH=534 BGCOLOR="#f4cccc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=tap %></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=167  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #a61c00; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Tirage NET + passe</P>
		</TD>
		<TD COLSPAN=8 WIDTH=534 BGCOLOR="#f4cccc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=tap %></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=167  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #a61c00; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Parution Vente</P>
		</TD>
		<TD COLSPAN=8 WIDTH=534 BGCOLOR="#f4cccc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=parution_format %></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=167  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #a61c00; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Date de production</P>
		</TD>
		<TD COLSPAN=8 WIDTH=534 BGCOLOR="#f4cccc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=date_prod_format %></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=167  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #a61c00; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Date de mise à
			dispo</P>
		</TD>
		<TD COLSPAN=8 WIDTH=534 BGCOLOR="#f4cccc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=date_dispo_format %></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=167  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #980000; border-left: 1px solid #a61c00; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Faconnage</P>
		</TD>
		<TD COLSPAN=8 WIDTH=534 BGCOLOR="#f4cccc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #980000; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=faconage %></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=167  BGCOLOR="#ffffff" STYLE="border: 1px solid #980000; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Mise sous film</P>
		</TD>
		<TD COLSPAN=8 WIDTH=534 BGCOLOR="#f4cccc" STYLE="border: 1px solid #980000; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=mise_sous_film %></P>
		</TD>
	</TR>
	<TR VALIGN=BOTTOM>
		<TD WIDTH=107  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #980000; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #980000; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=114 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=167  BGCOLOR="#ffffff" STYLE="border: 1px solid #980000; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Observation</P>
		</TD>
		<TD WIDTH=54 VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border-top: 1px solid #ffffff; border-bottom: 1px solid #980000; border-left: 1px solid #980000; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border-top: 1px solid #ffffff; border-bottom: 1px solid #980000; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border-top: 1px solid #ffffff; border-bottom: 1px solid #980000; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border-top: 1px solid #ffffff; border-bottom: 1px solid #980000; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border-top: 1px solid #ffffff; border-bottom: 1px solid #980000; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border-top: 1px solid #ffffff; border-bottom: 1px solid #980000; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border-top: 1px solid #ffffff; border-bottom: 1px solid #980000; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=114 VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border-top: 1px solid #ffffff; border-bottom: 1px solid #980000; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD ROWSPAN=3 COLSPAN=10 WIDTH=707 VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border: 1px solid #980000; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
	</TR>
	<TR>
	</TR>
</TABLE>
<div style="page-break-before:always"></div> 




<br><br><br>
<TABLE WIDTH=80% CELLPADDING=3 CELLSPACING=0 ALIGN=CENTER>
	<COL WIDTH=240>
	<COL WIDTH=291>
	<COL WIDTH=15>
	<COL WIDTH=36>
	<COL WIDTH=102>
	<TR>
		<TD ROWSPAN=2 COLSPAN=5 WIDTH=708  BGCOLOR="#fff2cc" STYLE="border: 1px solid #b45f06; padding: 0.03in">
			<P ALIGN=CENTER STYLE="widows: 0; orphans: 0"><B>PREPRESSE</B></P>
		</TD>
	</TR>
	<TR>
	</TR>
	<TR>
		<TD ROWSPAN=2 COLSPAN=5 WIDTH=708  BGCOLOR="#fff2cc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #b45f06; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">VISE PAR :</P>
		</TD>
	</TR>
	<TR>
	</TR>
	<TR>
		<TD ROWSPAN=2 COLSPAN=5 WIDTH=708  BGCOLOR="#fff2cc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #b45f06; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">SUIVIE PAR :</P>
		</TD>
	</TR>
	<TR>
	</TR>
	<TR>
		<TD WIDTH=240  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #b45f06; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Pagination</P>
		</TD>
		<TD COLSPAN=2 WIDTH=312 BGCOLOR="#fff2cc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=pagination %></P>
		</TD>
		<TD COLSPAN=2 WIDTH=144 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=240  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #b45f06; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Type de produit</P>
		</TD>
		<TD COLSPAN=2 WIDTH=312 BGCOLOR="#fff2cc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=suppl %></P>
		</TD>
		<TD COLSPAN=2 WIDTH=144 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=240  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #b45f06; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Contact final</P>
		</TD>
		<TD COLSPAN=2 WIDTH=312 BGCOLOR="#fff2cc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=contact_final %></P>
		</TD>
		<TD COLSPAN=2 WIDTH=144 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=240  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #b45f06; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Mention légale</P>
		</TD>
		<TD COLSPAN=2 WIDTH=312 BGCOLOR="#fff2cc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=mention_legale %></P>
		</TD>
		<TD COLSPAN=2 WIDTH=144 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=240  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #b45f06; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Pages à monter par
			NM</P>
		</TD>
		<TD COLSPAN=2 WIDTH=312 BGCOLOR="#fff2cc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=pages_montrer %></P>
		</TD>
		<TD COLSPAN=2 WIDTH=144 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=240  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #b45f06; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Saisir Folio &amp;
			num.</P>
		</TD>
		<TD COLSPAN=2 WIDTH=312 BGCOLOR="#fff2cc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=saisir_folio %></P>
		</TD>
		<TD COLSPAN=2 WIDTH=144 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=240  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #b45f06; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Epreuve définitive</P>
		</TD>
		<TD COLSPAN=2 WIDTH=312 BGCOLOR="#fff2cc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=epreuve_definitive %></P>
		</TD>
		<TD COLSPAN=2 WIDTH=144 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=240  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #b45f06; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">format</P>
		</TD>
		<TD COLSPAN=2 WIDTH=312 BGCOLOR="#fff2cc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=format %></P>
		</TD>
		<TD COLSPAN=2 WIDTH=144 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=240  BGCOLOR="#ffffff" STYLE="border: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Source des DOCS</P>
		</TD>
		<TD COLSPAN=2 WIDTH=312 BGCOLOR="#fff2cc" STYLE="border: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=source_docs %></P>
		</TD>
		<TD WIDTH=36 BGCOLOR="#ffffff" STYLE="border: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=102 BGCOLOR="#fff2cc" STYLE="border: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=240  BGCOLOR="#ffffff" STYLE="border: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Date de réception</P>
		</TD>
		<TD COLSPAN=2 WIDTH=312 BGCOLOR="#fff2cc" STYLE="border: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=date_reception_format %></P>
		</TD>
		<TD WIDTH=36 BGCOLOR="#ffffff" STYLE="border: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=102 BGCOLOR="#fff2cc" STYLE="border: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=5 WIDTH=708  VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border-top: 1px solid #b45f06; border-bottom: 1px solid #b45f06; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Fabien Pettinati :
			2821 / 06.45.36.48.37</P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=5 WIDTH=708  BGCOLOR="#ffffff" STYLE="border: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Ramarques :</P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=537  BGCOLOR="#ffffff" STYLE="border: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Transmis à</P>
		</TD>
		<TD COLSPAN=3 WIDTH=165 BGCOLOR="#fff2cc" STYLE="border-top: 1px solid #b45f06; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Signature :</P>
		</TD>
	</TR>
</TABLE>
<div style="page-break-before:always"></div> 



<br><br><br>
<TABLE WIDTH=80% CELLPADDING=3 CELLSPACING=0 ALIGN=CENTER>
	<COL WIDTH=252>
	<COL WIDTH=320>
	<COL WIDTH=7>
	<COL WIDTH=106>
	<TR>
		<TD ROWSPAN=2 COLSPAN=4 WIDTH=703 BGCOLOR="#c9daf8" STYLE="border: 1px solid #1155cc; padding: 0.03in">
			<P ALIGN=CENTER STYLE="widows: 0; orphans: 0"><B>Impression</B></P>
		</TD>
	</TR>
	<TR>
	</TR>
	<TR>
		<TD ROWSPAN=2 COLSPAN=4 WIDTH=703  BGCOLOR="#c9daf8" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #1155cc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">VISE PAR :</P>
		</TD>
	</TR>
	<TR>
	</TR>
	<TR>
		<TD ROWSPAN=2 COLSPAN=4 WIDTH=703  BGCOLOR="#c9daf8" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #1155cc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">COPIE SUIVIE PAR :</P>
		</TD>
	</TR>
	<TR>
	</TR>
	<TR>
		<TD ROWSPAN=2 COLSPAN=4 WIDTH=703  BGCOLOR="#c9daf8" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #1155cc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">PROD SUIVIE PAR :</P>
		</TD>
	</TR>
	<TR>
	</TR>
	<TR>
		<TD WIDTH=252  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #1155cc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Date produit</P>
		</TD>
		<TD COLSPAN=2 WIDTH=333 BGCOLOR="#c9daf8" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=date_prod_format %></P>
		</TD>
		<TD WIDTH=106 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=252  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #1155cc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Grammage</P>
		</TD>
		<TD COLSPAN=2 WIDTH=333 BGCOLOR="#c9daf8" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=papier %></P>
		</TD>
		<TD WIDTH=106 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=252  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #1155cc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Blancheur</P>
		</TD>
		<TD COLSPAN=2 WIDTH=333 BGCOLOR="#c9daf8" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=blancheur %></P>
		</TD>
		<TD WIDTH=106 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=252  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #1155cc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Laize</P>
		</TD>
		<TD COLSPAN=2 WIDTH=333 BGCOLOR="#c9daf8" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=laize %></P>
		</TD>
		<TD WIDTH=106 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=252  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #1155cc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Tout quadri</P>
		</TD>
		<TD COLSPAN=2 WIDTH=333 BGCOLOR="#c9daf8" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=tout_quadri %></P>
		</TD>
		<TD WIDTH=106 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=252  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #1155cc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">type de production</P>
		</TD>
		<TD COLSPAN=2 WIDTH=333 BGCOLOR="#c9daf8" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><%=type_production %></P>
		</TD>
		<TD WIDTH=106 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=4 WIDTH=703 VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Contacts : Didier
			Dewet : 2779 / 07.70.27.78.43</P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=4 WIDTH=703  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #1155cc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Remarques :</P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=578  BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #1155cc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Transmis à</P>
		</TD>
		<TD COLSPAN=2 WIDTH=119 BGCOLOR="#c9daf8" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0">Signature :</P>
		</TD>
	</TR>
</TABLE>
<P STYLE="margin-bottom: 0in"><BR>
</P>
</BODY>
</HTML>