<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
	<META NAME="CREATED" CONTENT="0;0">
	<META NAME="CHANGED" CONTENT="0;0">
	<STYLE TYPE="text/css">
	<!--
		@page { margin-left: 1in; margin-right: 1in; margin-top: 0.2in; margin-bottom: 0.57in }
		P { margin-bottom: 0.08in }
	-->
	</STYLE>
</HEAD>
<BODY LANG="fr-FR" DIR="LTR">
<P STYLE="margin-bottom: 0in"><BR>
</P>
<TABLE WIDTH=722 CELLPADDING=3 CELLSPACING=0>
	<COL WIDTH=401>
	<COL WIDTH=309>
	<TR>
		<TD ROWSPAN=2 COLSPAN=2 WIDTH=716 HEIGHT=37 BGCOLOR="#d0e0e3" STYLE="border: 1px solid #134f5c; padding: 0.03in">
			<P ALIGN=CENTER STYLE="widows: 0; orphans: 0"><FONT SIZE=2><B>EXPEDITIONS
			TRANSPORT</B></FONT></P>
		</TD>
	</TR>
	<TR>
	</TR>
	<TR>
		<TD ROWSPAN=2 COLSPAN=2 WIDTH=716 HEIGHT=33 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>VISE PAR :</FONT></P>
		</TD>
	</TR>
	<TR>
	</TR>
	<TR>
		<TD WIDTH=401 HEIGHT=23 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Routage</FONT></P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=routage %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 HEIGHT=23 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Coiffe</FONT></P>
		</TD>
		<TD WIDTH=309 VALIGN=BOTTOM BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=coiffe %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 HEIGHT=23 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Date d'enlèvement</FONT></P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=date_enlevement_format %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 HEIGHT=23 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Quantité</FONT></P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=tap %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 HEIGHT=23 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Quantité mise sous
			film</FONT></P>
		</TD>
		<TD WIDTH=309 VALIGN=BOTTOM BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=mise_sous_film %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 HEIGHT=23 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Quantité
			transporteur</FONT></P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=tap %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 HEIGHT=23 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Quantité margeur</FONT></P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 HEIGHT=23 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>1 - Nom transporteur</FONT></P>
		</TD>
		<TD WIDTH=309 VALIGN=BOTTOM BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=nom_transporteur_1 %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 HEIGHT=27 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Nombre d'exemplaire
			par paquet</FONT></P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=nombre_exemplaire_1 %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 HEIGHT=23 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Quantité par
			adresse</FONT></P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=quantite_adresse_1 %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 HEIGHT=23 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Nb de palettes</FONT></P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 HEIGHT=23 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Nb de paquets</FONT></P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 HEIGHT=23 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>2 - Nom transporteur</FONT></P>
		</TD>
		<TD WIDTH=309 VALIGN=BOTTOM BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=nom_transporteur_2 %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 HEIGHT=27 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Nombre d'exemplaire
			par paquet</FONT></P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=nombre_exemplaire_2 %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 HEIGHT=23 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Quantité par
			adresse</FONT></P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=quantite_adresse_2 %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 HEIGHT=23 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Nb de palettes</FONT></P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 HEIGHT=23 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Nb de paquets</FONT></P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 HEIGHT=23 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>3 - Nom transporteur</FONT></P>
		</TD>
		<TD WIDTH=309 VALIGN=BOTTOM BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=nom_transporteur_3 %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 HEIGHT=27 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Nombre d'exemplaire
			par paquet</FONT></P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=nombre_exemplaire_3 %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 HEIGHT=23 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Quantité par
			adresse</FONT></P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=quantite_adresse_3 %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 HEIGHT=23 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Nb de palettes</FONT></P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 HEIGHT=23 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Nb de paquets</FONT></P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 HEIGHT=23 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>4 - Nom transporteur</FONT></P>
		</TD>
		<TD WIDTH=309 VALIGN=BOTTOM BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=nom_transporteur_4 %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 HEIGHT=27 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Nombre d'exemplaire
			par paquet</FONT></P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=nombre_exemplaire_4 %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 HEIGHT=23 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Quantité par
			adresse</FONT></P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=quantite_adresse_4 %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 HEIGHT=23 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Nb de palettes</FONT></P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=401 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #134f5c; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Nb de paquets</FONT></P>
		</TD>
		<TD WIDTH=309 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
</TABLE>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in">Laurent Pirollo : 2778 / 06.11.81.52.58</P>
<TABLE WIDTH=722 CELLPADDING=3 CELLSPACING=0>
	<COL WIDTH=596>
	<COL WIDTH=112>
	<TR>
		<TD COLSPAN=2 WIDTH=714 HEIGHT=22 BGCOLOR="#ffffff" STYLE="border: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Ramarques :</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=596 HEIGHT=22 BGCOLOR="#ffffff" STYLE="border: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Dépose l'acceuil :</FONT></P>
		</TD>
		<TD WIDTH=112 BGCOLOR="#d0e0e3" STYLE="border-top: 1px solid #134f5c; border-bottom: 1px solid #134f5c; border-left: 1px solid #cccccc; border-right: 1px solid #134f5c; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Signature :</FONT></P>
		</TD>
	</TR>
</TABLE>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="text-indent: -0.59in; margin-bottom: 0in"><BR>
</P>
<TABLE WIDTH=713 CELLPADDING=3 CELLSPACING=0>
	<COLGROUP>
		<COL WIDTH=107>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=54>
		<COL WIDTH=54>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=54>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=54>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=54>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=54>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=54>
		<COL WIDTH=54>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=114>
	</COLGROUP>
	<TR>
		<TD COLSPAN=9 WIDTH=587 HEIGHT=21 STYLE="border-top: 1px solid #a61c00; border-bottom: 1px solid #980000; border-left: 1px solid #a61c00; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>DOSSIER DE
			PRODUCTION (SUPPLEMENTS PUBLICITAIRES/DISTRINERGIE/VCF)</FONT></P>
		</TD>
		<TD WIDTH=114 VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border-top: 1px solid #a61c00; border-bottom: 1px solid #980000; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P ALIGN=RIGHT STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=10 WIDTH=707 HEIGHT=22 VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border: 1px solid #980000; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD ROWSPAN=2 COLSPAN=2 WIDTH=167 HEIGHT=51 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #a61c00; border-left: 1px solid #a61c00; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Nom du produit</FONT></P>
		</TD>
		<TD ROWSPAN=2 COLSPAN=6 WIDTH=354 BGCOLOR="#f4cccc" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #a61c00; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P ALIGN=CENTER STYLE="widows: 0; orphans: 0"><FONT SIZE=4><B><%=theme %></B></FONT></P>
		</TD>
		<TD ROWSPAN=2 COLSPAN=2 WIDTH=174 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #a61c00; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P ALIGN=CENTER STYLE="widows: 0; orphans: 0"><FONT SIZE=3><%=id %>(code pressbook)</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
	</TR>
	<TR>
		<TD ROWSPAN=2 COLSPAN=10 WIDTH=707 HEIGHT=51 BGCOLOR="#ffffff" STYLE="border: 1px solid #980000; padding: 0.03in">
			<P ALIGN=CENTER STYLE="widows: 0; orphans: 0"><FONT SIZE=4>Informations</FONT></P>
		</TD>
	</TR>
	<TR>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=167 HEIGHT=30 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #a61c00; border-left: 1px solid #a61c00; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Origine</FONT></P>
		</TD>
		<TD COLSPAN=8 WIDTH=534 BGCOLOR="#f4cccc" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #a61c00; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=origine %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=167 HEIGHT=30 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #a61c00; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Source</FONT></P>
		</TD>
		<TD COLSPAN=8 WIDTH=534 BGCOLOR="#f4cccc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=source %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=167 HEIGHT=29 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #a61c00; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Edition</FONT></P>
		</TD>
		<TD COLSPAN=8 WIDTH=534 VALIGN=BOTTOM BGCOLOR="#f4cccc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=edition %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=167 HEIGHT=30 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #a61c00; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Type de produit</FONT></P>
		</TD>
		<TD COLSPAN=8 WIDTH=534 VALIGN=BOTTOM BGCOLOR="#f4cccc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=produit %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=167 HEIGHT=29 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #a61c00; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Pagination</FONT></P>
		</TD>
		<TD COLSPAN=8 WIDTH=534 BGCOLOR="#f4cccc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=pagination %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=167 HEIGHT=26 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #a61c00; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Tirage NET</FONT></P>
		</TD>
		<TD COLSPAN=8 WIDTH=534 BGCOLOR="#f4cccc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=tap %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=167 HEIGHT=26 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #a61c00; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Tirage NET + passe</FONT></P>
		</TD>
		<TD COLSPAN=8 WIDTH=534 BGCOLOR="#f4cccc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=tap %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=167 HEIGHT=29 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #a61c00; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Parution Vente</FONT></P>
		</TD>
		<TD COLSPAN=8 WIDTH=534 BGCOLOR="#f4cccc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=parution_format %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=167 HEIGHT=27 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #a61c00; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Date de production</FONT></P>
		</TD>
		<TD COLSPAN=8 WIDTH=534 BGCOLOR="#f4cccc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=date_prod_format %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=167 HEIGHT=27 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #a61c00; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Date de mise à
			dispo</FONT></P>
		</TD>
		<TD COLSPAN=8 WIDTH=534 BGCOLOR="#f4cccc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #a61c00; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=date_dispo_format %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=167 HEIGHT=30 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #980000; border-left: 1px solid #a61c00; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Faconnage</FONT></P>
		</TD>
		<TD COLSPAN=8 WIDTH=534 BGCOLOR="#f4cccc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #980000; border-left: 1px solid #cccccc; border-right: 1px solid #a61c00; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=faconage %></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=167 HEIGHT=29 BGCOLOR="#ffffff" STYLE="border: 1px solid #980000; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Mise sous film</FONT></P>
		</TD>
		<TD COLSPAN=8 WIDTH=534 BGCOLOR="#f4cccc" STYLE="border: 1px solid #980000; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=mise_sous_film %></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=BOTTOM>
		<TD WIDTH=107 HEIGHT=14 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #980000; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #980000; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=114 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #980000; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=167 HEIGHT=26 BGCOLOR="#ffffff" STYLE="border: 1px solid #980000; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Observation</FONT></P>
		</TD>
		<TD WIDTH=54 VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border-top: 1px solid #ffffff; border-bottom: 1px solid #980000; border-left: 1px solid #980000; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border-top: 1px solid #ffffff; border-bottom: 1px solid #980000; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border-top: 1px solid #ffffff; border-bottom: 1px solid #980000; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border-top: 1px solid #ffffff; border-bottom: 1px solid #980000; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border-top: 1px solid #ffffff; border-bottom: 1px solid #980000; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border-top: 1px solid #ffffff; border-bottom: 1px solid #980000; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=54 VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border-top: 1px solid #ffffff; border-bottom: 1px solid #980000; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=114 VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border-top: 1px solid #ffffff; border-bottom: 1px solid #980000; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD ROWSPAN=3 COLSPAN=10 WIDTH=707 HEIGHT=89 VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border: 1px solid #980000; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
	</TR>
	<TR>
	</TR>
</TABLE>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"> 
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<TABLE WIDTH=714 CELLPADDING=3 CELLSPACING=0>
	<COL WIDTH=240>
	<COL WIDTH=291>
	<COL WIDTH=15>
	<COL WIDTH=36>
	<COL WIDTH=102>
	<TR>
		<TD ROWSPAN=2 COLSPAN=5 WIDTH=708 HEIGHT=34 BGCOLOR="#fff2cc" STYLE="border: 1px solid #b45f06; padding: 0.03in">
			<P ALIGN=CENTER STYLE="widows: 0; orphans: 0"><FONT SIZE=2><B>PREPRESSE</B></FONT></P>
		</TD>
	</TR>
	<TR>
	</TR>
	<TR>
		<TD ROWSPAN=2 COLSPAN=5 WIDTH=708 HEIGHT=35 BGCOLOR="#fff2cc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #b45f06; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>VISE PAR :</FONT></P>
		</TD>
	</TR>
	<TR>
	</TR>
	<TR>
		<TD ROWSPAN=2 COLSPAN=5 WIDTH=708 HEIGHT=35 BGCOLOR="#fff2cc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #b45f06; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>SUIVIE PAR :</FONT></P>
		</TD>
	</TR>
	<TR>
	</TR>
	<TR>
		<TD WIDTH=240 HEIGHT=34 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #b45f06; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Pagination</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=312 BGCOLOR="#fff2cc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=pagination %></FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=144 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=240 HEIGHT=34 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #b45f06; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Type de produit</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=312 BGCOLOR="#fff2cc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=suppl %></FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=144 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=240 HEIGHT=34 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #b45f06; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Contact final</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=312 BGCOLOR="#fff2cc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=contact_final %></FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=144 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=240 HEIGHT=34 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #b45f06; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Mention légale</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=312 BGCOLOR="#fff2cc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=mention_legale %></FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=144 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=240 HEIGHT=34 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #b45f06; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Pages à monter par
			NM</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=312 BGCOLOR="#fff2cc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=pages_montrer %></FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=144 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=240 HEIGHT=34 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #b45f06; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Saisir Folio &amp;
			num.</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=312 BGCOLOR="#fff2cc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=saisir_folio %></FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=144 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=240 HEIGHT=34 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #b45f06; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Epreuve définitive</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=312 BGCOLOR="#fff2cc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=epreuve_definitive %></FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=144 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=240 HEIGHT=34 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #b45f06; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>format</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=312 BGCOLOR="#fff2cc" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=format %></FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=144 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=240 HEIGHT=34 BGCOLOR="#ffffff" STYLE="border: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Source des DOCS</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=312 BGCOLOR="#fff2cc" STYLE="border: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=source_docs %></FONT></P>
		</TD>
		<TD WIDTH=36 BGCOLOR="#ffffff" STYLE="border: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=102 BGCOLOR="#fff2cc" STYLE="border: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=240 HEIGHT=34 BGCOLOR="#ffffff" STYLE="border: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Date de réception</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=312 BGCOLOR="#fff2cc" STYLE="border: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=date_reception_format %></FONT></P>
		</TD>
		<TD WIDTH=36 BGCOLOR="#ffffff" STYLE="border: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD WIDTH=102 BGCOLOR="#fff2cc" STYLE="border: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=5 WIDTH=708 HEIGHT=34 VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border-top: 1px solid #b45f06; border-bottom: 1px solid #b45f06; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Fabien Pettinati :
			2821 / 06.45.36.48.37</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=5 WIDTH=708 HEIGHT=34 BGCOLOR="#ffffff" STYLE="border: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Ramarques :</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=537 HEIGHT=33 BGCOLOR="#ffffff" STYLE="border: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Transmis à</FONT></P>
		</TD>
		<TD COLSPAN=3 WIDTH=165 BGCOLOR="#fff2cc" STYLE="border-top: 1px solid #b45f06; border-bottom: 1px solid #b45f06; border-left: 1px solid #cccccc; border-right: 1px solid #b45f06; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Signature :</FONT></P>
		</TD>
	</TR>
</TABLE>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<TABLE WIDTH=709 CELLPADDING=3 CELLSPACING=0>
	<COL WIDTH=252>
	<COL WIDTH=320>
	<COL WIDTH=7>
	<COL WIDTH=106>
	<TR>
		<TD ROWSPAN=2 COLSPAN=4 WIDTH=703 HEIGHT=25 BGCOLOR="#c9daf8" STYLE="border: 1px solid #1155cc; padding: 0.03in">
			<P ALIGN=CENTER STYLE="widows: 0; orphans: 0"><FONT SIZE=2><B>Impression</B></FONT></P>
		</TD>
	</TR>
	<TR>
	</TR>
	<TR>
		<TD ROWSPAN=2 COLSPAN=4 WIDTH=703 HEIGHT=26 BGCOLOR="#c9daf8" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #1155cc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>VISE PAR :</FONT></P>
		</TD>
	</TR>
	<TR>
	</TR>
	<TR>
		<TD ROWSPAN=2 COLSPAN=4 WIDTH=703 HEIGHT=26 BGCOLOR="#c9daf8" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #1155cc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>COPIE SUIVIE PAR :</FONT></P>
		</TD>
	</TR>
	<TR>
	</TR>
	<TR>
		<TD ROWSPAN=2 COLSPAN=4 WIDTH=703 HEIGHT=26 BGCOLOR="#c9daf8" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #1155cc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>PROD SUIVIE PAR :</FONT></P>
		</TD>
	</TR>
	<TR>
	</TR>
	<TR>
		<TD WIDTH=252 HEIGHT=30 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #1155cc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Date produit</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=333 BGCOLOR="#c9daf8" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=date_prod_format %></FONT></FONT></P>
		</TD>
		<TD WIDTH=106 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=252 HEIGHT=30 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #1155cc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Grammage</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=333 BGCOLOR="#c9daf8" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=papier %></FONT></FONT></P>
		</TD>
		<TD WIDTH=106 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=252 HEIGHT=30 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #1155cc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Blancheur</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=333 BGCOLOR="#c9daf8" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=blancheur %></FONT></FONT></P>
		</TD>
		<TD WIDTH=106 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=252 HEIGHT=30 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #1155cc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Laize</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=333 BGCOLOR="#c9daf8" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=laize %></FONT></FONT></P>
		</TD>
		<TD WIDTH=106 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=252 HEIGHT=30 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #1155cc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Tout quadri</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=333 BGCOLOR="#c9daf8" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=tout_quadri %></FONT></FONT></P>
		</TD>
		<TD WIDTH=106 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=252 HEIGHT=30 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #1155cc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>type de production</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=333 BGCOLOR="#c9daf8" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2><%=type_production %></FONT></FONT></P>
		</TD>
		<TD WIDTH=106 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=4 WIDTH=703 HEIGHT=30 VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Contacts : Didier
			Dewet : 2779 / 07.70.27.78.43</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=4 WIDTH=703 HEIGHT=30 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #1155cc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Remarques :</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=578 HEIGHT=29 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #1155cc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Transmis à</FONT></P>
		</TD>
		<TD COLSPAN=2 WIDTH=119 BGCOLOR="#c9daf8" STYLE="border-top: 1px solid #cccccc; border-bottom: 1px solid #1155cc; border-left: 1px solid #cccccc; border-right: 1px solid #1155cc; padding: 0.03in">
			<P STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Signature :</FONT></P>
		</TD>
	</TR>
</TABLE>
<P STYLE="margin-bottom: 0in"><BR>
</P>
</BODY>
</HTML>